<div class="container">
    <button type="button" class="btn btn-primary addbtn" data-toggle="modal" data-target="#formModal">Add</button>
    <br>
    {{#each todos}}
        <div class="container-fluid cont d-flex justify-content-center">
            <h4>{{id}} - {{text}}
                <button type="button" class="btn btn-success"  class="btn btn-primary" data-toggle="collapse" href="#recipe_{{id}}" role="button" aria-expanded="false" aria-controls="recipe_{{id}}">
                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-danger delete-todo" data-id="{{id}}" style="width: 100px">Delete</button>
            </h4>

        </div>
    {{/each}}
    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" action="/add">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add todo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>New Todo text</label>
                            <input type="text" class="form-control" name="todoInputText"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>